
/** BT **/

.bt {
    display: inline-block;
    box-sizing: border-box;
    padding: calc(var(--fontSize) * 20) 0;
    font-size: calc(var(--fontSize) * 14);
    line-height: 1;
    margin: auto;
    border: 2px solid;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    width: calc(var(--fontSize) * 272);
    max-width: 100%;
    transition: all 0.2s ease-in-out;
    color: inherit;
}

.bt:visited {
    color: inherit;
}

.box--blue .bt:hover {
    background-color: #ffffff;
    color: var(--baseBg);
    border-color: transparent;
}

.box--blue {
    background: var(--baseBg);
    color: #ffffff;
}

.box--blue h2 {
    color: #ffffff;
}

/** IMG **/
img.responsive {
    max-width: 100%;
}


.pull-right {
    float: right
}
