
#confiance {
    padding-bottom: 80px;
}

#confiance li {
    lost-column: 1/5;
    height: 8vw;
    background: no-repeat center center;
    background-size:  contain;
    /*filter: grayscale(100%) drop-shadow(0 0 0 rgba(0,0,0,0.5));*/
    filter: grayscale(100%);
    will-change: filter;
    transition: filter 0.2s cubic-bezier(.56,.08,.84,.62);
}

@media (max-width: 900px) {
    #confiance li {
        lost-column: 1/3 3 5px;
        margin-top: 20px;
    }
}
@media (max-width: 420px) {
    #confiance li {
        lost-column: 1/2 2 5px;
        height: 14vw;
    }
}

#confiance li a {
    font-size: 0;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%;
    height: 100%;
}

#confiance li:hover {
    /*filter: grayscale(0) drop-shadow(3px 3px 10px rgba(0,0,0,0.5));*/
    filter: grayscale(0);
}

#confiance li:nth-child(1) {
    background-image: url(../img/agences/kribl-white.png);
}


#confiance li:nth-child(2) {
    background-image: url(../img/agences/tuttiquanti-white.png);
}


#confiance li:nth-child(3) {
    background-image: url(../img/agences/leadeal-white.png);
}


#confiance li:nth-child(4) {
    background-image: url(../img/agences/clint-white.png);
}


#confiance li:nth-child(5) {
    background-image: url(../img/agences/pixelpoetry-white.png);
}
