
@font-face {
    font-family: 'haveheartone-regular';
    src: url('../fonts/have_heart_one-webfont.woff2') format('woff2'),
         url('../fonts/have_heart_one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'havehearswash';
    src: url('../fonts/have_heart_swash.woff2') format('woff2'),
         url('../fonts/have_heart_swash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold.woff2') format('woff2'),
         url('../fonts/proximanova-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light.woff2') format('woff2'),
         url('../fonts/proximanova-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 16px;
}

body {
    font-family: proxima_nova_rgregular;
    line-height: 1.5;
}

h1,
h2 {
    font-family: haveheartone-regular;
    line-height: 1;
}

h1 {
    font-size: calc(var(--fontSize) * 147);
}

h1::after {
    content: 'a';
    font-family: havehearswash;
    font-size: calc(var(--fontSize) * 72);
    position: absolute;
    left: 68%;
    top: 4.4rem;
}

h2 {
    font-size: calc(var(--fontSize) * 60);
    position: relative;
}

h2::after {
    content: 'f';
    font-family: havehearswash;
    font-size: calc(var(--fontSize) * 60);
    position: absolute;
    top: 2.1rem;
    left: 0;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: calc(var(--fontSize) * 23);
}

h1 small {
    margin-top: calc(var(--fontSize) * 45);
    font-size: calc(var(--fontSize) * 24);
    font-family: proxima_nova_rgbold;
}

h1 small i {
    font-family: proxima_novalight;
}

h1 small b {
    font-family: haveheartone-regular;
}

li p {
    font-size: calc(var(--fontSize) * 14);
}

b,
strong {
    font-family: proxima_nova_rgbold;
}

p a,
p a:visited {
    color: #ffffff;
    font-family: proxima_nova_rgbold;
    text-decoration: underline;
}

em {
    font-style: italic;
}

@media (max-width: 650px) {
    html {
        font-size: 12px;
    }
}
