


header .content-wrapper {
    height: 100%;
    width:100%;
    display:table;
}

header .content-wrapper div {
    display:table-cell;
    vertical-align:middle;
}

h1 {
    position: relative;
    text-transform: lowercase;
}
