:root {
    --fontSize: 1rem/16;

    --baseBg: #213d70;
    --baseColor: #2f569d;

    --darkerColor: #333333;

    --popinColor: #3d3d3d;
}

@import 'reset.css';
@import 'structure.css';
@import 'font.css';
@import 'header.css';
@import 'metiers.css';
@import 'components.css';
@import 'projets.css';
@import 'oam.css';
@import "confiance.css";
@import "map.css";
@import "popin.css";

html {
    background: url(../img/technologies.png)
}
