
@media (min-width : 500px ) {
    #metiers li {
        lost-column: 1/3;
        margin-bottom: 0;
    }
}

#metiers ul {
    lost-utility: clearfix;
}


#metiers li {
    background:  no-repeat center top;
    padding-top: calc(var(--fontSize) * 160);
    background-size: auto 40%;
    margin-bottom: 30px;
}

#metiers li:nth-child(1) {
    background-image: url(../img/desktop.svg);
}

#metiers li:nth-child(2) {
    background-image: url(../img/mobile.svg);
}

#metiers li:nth-child(3) {
    background-image: url(../img/backend.svg);
}

#metiers ul {
    margin-bottom: 90px;
}

#metiers > div {
    text-align: center;
}

#metiers {
    padding-bottom: 80px;
}
