
#oam {
    position: relative;
    background-color: var(--baseColor);
    text-align: center;
    padding-bottom: 80px;
}

.profil-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    background: url(../img/oam.jpg) no-repeat center center;
    background-size: cover;
}

#oam .content-wrapper {
    z-index: 2;
    position: relative;
}

#oam p {
    max-width: 712px;
    margin: 0 auto 33px auto;
    font-size: calc(var(--fontSize) * 18);
}

.networks {
    margin-top: 40px;
}
.networks a {
    display: inline-block;
    margin: 0 8px;
    background: #1b273d;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    line-height: 42px;
    text-align: center;
}
.networks img {
    vertical-align: middle;
}

#oam .bt {
    margin: 0 20px;
}
@media (max-width: 700px) {
    #oam .bt {
        margin-bottom: 10px;
    }
}
@media (max-width: 500px) {
    .profil-picture {
        display: none;
    }
}
