
.popin {
    display: none;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    will-change: left, top, bottom, right;
    background: #ffffff;
    width: 1px;
    height: 1px;
    opacity: 0.4;
    /*border-radius: 50%;*/
}

.popin.animate {
    display: block;
    width: auto;
    height: auto;
    transition-property: opacity, left, top, bottom, right;
    transition-duration: 0.3s, 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(.56,.08,.84,.62);
}

.popin.open {
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 1;
    border-radius: 0;
}

/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.slider {
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: opacity 0.1s cubic-bezier(.56,.08,.84,.62);
}
.popin.open .slider {
    opacity: 1;
    visibility: visible;
}

.frame {
    /**
     * (optional) wrapper width, specifies width of the slider frame.
     */
    width: 880px;

    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}
.slides {
    display: inline-block;
}
.js_slide {
    position: relative;
    display: inline-block;
    vertical-align: top;
}


/***
 * content structure
 ****/
 .slider {
    width: 100%;
    height: 100%;
    position: relative;
 }
.popin .prev,
.popin .next {
    position: absolute;
    top: 45%;
    cursor: pointer;
}
.popin .prev {
    left: 20px;
}
.popin .next {
    right: 20px;
}
.popin .js_close {
    position: absolute;
    top: 80px;
    right: 0;
    cursor: pointer;
    z-index: 2;
}
.popin .js_close:hover img {
    transform: scale(0.9);
    transform: translateX(-5);
}
.popin .js_prev:hover {
    padding-right: 5px;
    left: 15px;
    transition: all 0.2s;
}
.popin .js_next:hover {
    padding-left: 5px;
    right: 15px;
    transition: all 0.2s;
}
.popin .frame {
    width: 999px;
    /*position: absolute;*/
    padding-top: 80px;
    /*bottom: 0px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: auto;
}
.popin .js_slide {
    width: 999px;
}


.popin .slides,
.popin .js_slide,
.popin .js_slide > div {
    height: 100%;
}

/**
 * content
 */
.projet-preview {
    lost-column: 1/3;
}
.projet-info {
    lost-column: 2/3 2;
}

.projet-preview{
    text-align: right;
}
.projet-preview img {
    max-height: 100%;
}

.projet-info {
    color: var(--popinColor);
    text-align: center;
    padding-top: 50px;
    line-height: 1.2;
    white-space: normal;
}
.projet-info a,
.projet-info a:visited {
    color: var(--popinColor);
}

.popin h3 {
    font-family: proxima_nova_rgbold;
    font-size: calc(var(--fontSize) * 18);
    text-transform: uppercase;
    margin-bottom: 0;
}
.popin h3 em {
    font-style: normal;
    font-family: proxima_nova_rgregular;
}

.popin .technologies {
    color: var(--baseColor);
    text-transform: uppercase;
}

.popin .description {
    margin: 17px 25px;
}

.popin .bt {
    margin-top: 65px;
}



.mobile-only {
    display: none;
}

@media (min-width: 1300px) {
    .projet-preview {
        lost-column: 2/5;
    }
    .projet-info {
        lost-column: 3/5 2;
    }
}


@media (max-width: 1090px) {
    .popin .frame ,
    .popin .js_slide {
        width: 700px;
    }
}

@media (max-width: 760px) {
    .popin .frame ,
    .popin .js_slide {
        width: 500px;
    }
    .js_close {
        display: none;
    }
    .popin .mobile-only {
        display: block;
        top: 12px;
        right: 12px;
    }
    .popin .projet-info {
        padding-top: 0;
    }
    .projet-preview ,
    .projet-info {
        lost-column: 1/2;
    }
    .popin .bt {
        margin-top: 0;
    }
    .popin .description {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 560px) {
    .popin .frame ,
    .popin .js_slide {
        width: 300px;
    }
    .popin .js_slide {
        overflow: auto;
    }
    .projet-preview ,
    .projet-info {
        lost-column: 1;
    }
    .popin .js_prev {
        left: 5px;
    }
    .popin .js_next {
        right: 5px;
    }
    .popin .js_prev:hover {
        left: 5px;
    }
    .popin .js_next:hover {
        right: 5px;
    }
    .popin .js_slide > div {
        height: auto;
        float: right;
    }
    .popin .projet-info,
    .popin .projet-preview {
        margin: 30px 0;
    }
}

.projet-preview:nth-child(n),
.projet-info:nth-child(n) {
    float: right;
}
