#projets {
    padding-bottom: 80px;
}

#projets article {
    lost-column: 1/4 4 1px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 700px ) {
    #projets article {
        lost-column: 1/2 2 1px;
        margin-top: 20px;
    }
}

@media (max-width: 300px ) {
    #projets article {
        lost-column: 1;
    }
}

#projets article img {
    /*filter: grayscale(100%) drop-shadow(0 0 0 rgba(0,0,0,0.5));*/
    filter: grayscale(100%);
    will-change: filter;
    transition: filter 0.1s cubic-bezier(.56,.08,.84,.62);
}

#projets article:hover img {
    /*filter: grayscale(0) drop-shadow(3px 3px 10px rgba(0,0,0,0.5));*/
    filter: grayscale(0);
}

#projets article b {
    display: block;
    width: 100%;
    font-size: calc(var(--fontSize) * 18);
    color: var(--baseColor);
}

#projets article em {
    display: block;
    width: 100%;
    font-family: proxima_novalight;
    font-size: calc(var(--fontSize) * 14);
}
