
#site-wrapper {
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

#site-wrapper > header,
#site-wrapper > section,
#site-wrapper > footer {
    lost-utility: clearfix;
}

#site-wrapper > header {
    height: 90vh;
    min-height: 330px;
}

.content-wrapper {
    lost-center: 999px;
}

@media (max-width: 1050px) {
    .content-wrapper {
        lost-center: 90%;
    }
}

/** heading **/
h1 {
    text-align: center;
    color: var(--baseColor);
}
h1 small {
    display: block;
    color: var(--darkerColor);
}


h2 {
    margin-top: 70px;
    margin-bottom: 65px;
    text-align: center;
    color: var(--baseColor)
}

h3 {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    padding: 25px 0 45px 0;
    background-color: #333333;
    color: #8c8c8c;
}

footer p:first-child {
    lost-column: 1/2;
    text-align: left;
}
footer p {
    font-size: calc(var(--fontSize) * 12);
}

#canvas-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
