<!DOCTYPE html>
<html lang="fr" itemscope itemtype="http://schema.org/Person">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta property="og:url"                content="https://samuellaulhau.fr" />
      <meta property="og:type"               content="website" />
      <meta property="og:title"              content="Samuel Laulhau" />
      <meta property="og:description"        content="Développeur web fullstack depuis 8 ans, spécialiste PHP et Javascript" />
      <meta property="og:image"              content="https://samuellaulhau.fr/share.jpg" />
      <meta property="fb:app_id"             content="181056701964897" />

      <title>Samuel Laulhau - développeur web & mobile</title>
      <meta itemprop="name" name="title" content="Samuel Laulhau - développeur web & mobile" />
      <meta itemprop="description" name="description" content="Samuel Laulhau, développeur web fullstack depuis 8 ans, spécialiste PHP et Javascript" />
      <meta name="keywords" content="développement, web, agence, php, javascript, docker" />
      <meta itemprop="image" content="https://samuellaulhau.fr/share.jpg">

      <link rel="icon" type="image/png" href="favicon.png" />
  </head>
  <body>

      <div id='site-wrapper'>
         <header>
            <div class="content-wrapper">
                <div>
                    <h1>
                        Hello {{htmlWebpackPlugin.options.data.hello}}
                        <small>développeur <i>web</i> <b>&</b> <i>mobile</i></small>
                  </h1>
                </div>
            </div>
          </header>
          <section id="metiers" class="box--blue">
              <div class="content-wrapper">
                <h2>ce que je fais</h2>

                <ul>
                    <li>
                        <h3>Développement web</h3>
                        <p>Développeur web fullstack depuis plus de 8 ans, j’ai eu l’occasion de travailler avec les principales solutions open-sources e-commerce et CMS, ainsi que les frameworks PHP, ou encore NodeJs et Rails.</p>
                    </li>

                    <li>
                        <h3>Développement mobile</h3>
                        <p>L’internet mobile ayant pris une part essentielle dans les usages, tous les sites doivent être pensés adaptatifs afin de fournir la meilleure expérience sur tous les terminaux.</p>
                    </li>

                    <li>
                        <h3>Backend</h3>
                        <p>Afin de proposer la meilleure solution, je me suis penché sur la partie moins visible d'une solution web&nbsp;: hébergement, protocole, proxy, DNS...<br/>Je peux donc passer <em>vim</em> en mode édition ;)</p>
                    </li>
                </ul>

                <div>
                    <a href="mailto:sam@lalop.co" class="bt" title="envoyer un message">Contactez-moi</a>
                </div>
              </div>
          </section>

          <section id="projets">
                <div class="content-wrapper">

                    <h2>mes derniers projets</h2>
                    <div>
                        <article data-project="scandivintage">
                            <img src="img/projets/scandivintage-250x170.jpg" class="responsive"
                            alt="site prestashop" />
                            <b>Scandivintage</b>
                            <em>Création boutique prestashop</em>
                        </article>

                        <article data-project="vinylzilla">
                            <img src="img/projets/vinylzilla-250x170.jpg" class="responsive"
                            alt="développement"/>
                            <b>Vinylzilla</b>
                            <em>Développement et hébergement</em>
                        </article>

                        <!-- <article data-project="bnbiarritz">
                            <img src="img/projets/bnbiarritz-250x1702.jpg" class="responsive" />
                            <b>BnBiarritz</b>
                            <em>Création site wordpress</em>
                        </article> -->

                        <article data-project="sanmarco">
                            <img src="img/projets/sanmarco-250x170.jpg" class="responsive"
                            alt="woocommerce" />
                            <b>San Marco</b>
                            <em>Woocommerce - newsletter</em>
                        </article>

                        <article data-project="7decoeur">
                            <img src="img/projets/7decoeur-250x170.jpg" class="responsive"
                            alt="wordpress" />
                            <b>Tournoi 7 de cœur</b>
                            <em>Développement plugin wordpress</em>
                        </article>
                    </div>
               </div>
            </section>


          <section id="oam" class="box--blue">
                <div class="content-wrapper">

                    <h2>à propos de moi</h2>

                    <p>Je  m'appelle Samuel Laulhau. Je suis <strong>développeur web fullstack</strong> depuis 8 ans. J'ai travaillé dans le <strong>jeu</strong> en ligne à l'époque où <strong>flash</strong> était le Futur, dans des <strong>agences</strong> quand les <strong>réseaux sociaux</strong> montaient en puissance et chez un <strong>éditeur</strong> orienté analyse de données à l'heure de la <strgon>big-data</strong>.<br/>
                    Sur mon temps libre, je participe à quelques projets <a href="//github.com/lalop" title="voir sur github" target="_blank">open-source</a> et à des side-projects comme <a href="http://vinylzilla.com" target="_blank">Vinylzilla</a>.
                    </p>

                    <a href="//github.com/lalop" target="_blank" class="bt">Voir mon github</a>
                    <a href="mailto:sam@lalop.co" class="bt" title="envoyer un message">Me contacter</a>

                    <div class="networks">
                        <a href="https://github.com/lalop" title="Github" target="_blank"><img src="img/networks/github.png" alt="github" /></a>
                        <a href="https://fr.linkedin.com/in/samuellaulhau" title="Linkedin" target="_blank"><img src="img/networks/linkedin.png" alt="linkedin" /></a>
                        <a href="https://twitter.com/_samuel_" title="Twitter" target="_blank"><img src="img/networks/twitter.png" alt="twitter" /></a>
                    </div>
               </div>
               <div class="profil-picture"></div>
            </section>

          <section id="confiance" class="box--blue">
                <div class="content-wrapper">

                    <h2>ces agences me font confiance</h2>

                    <ul>
                        <li><a href="http://kribl.com" target="_blank" title="Kribl">Kribl</a></li>
                        <li><a href="http://tuttiquanti.com/" target="_blank" title="Tutti Quanti">Tutti Quanti</a></li>
                        <li><a href="http://www.leadeal-marketing.fr/" target="_blank" title="Leadeal">Leadeal</a></li>
                        <li><a href="http://clintagency.com" target="_blank" title="Clint Agency">Clint Agency</a></li>
                        <li><a href="http://pixelpoetry.fr/" target="_blank" title="Pixel Poetry">Pixel Poetry</a></li>
                    </ul>

                </div>
            </section>

             <section id="map">
                 <div id="map-wrapper"></div>
           </section>

           <footer>
                <div class="content-wrapper">
                    <p>© 2016 Samuellaulhau.fr - Développement web et mobile</p>
                    <p class="pull-right">Design par <a target="_blank" href="http://enguerranweiss.fr">Enguerran Weiss</a></p>
               </div>
           </footer>
       </div>

       <div id="projet-popin" class="popin">
            <div class="slider js_slider">
                <span class="js_prev prev">
                    <img src="img/prev.png" alt="précédent" />
                </span>
                <span class="js_next next">
                    <img src="img/next.png" alt="suivant" />
                </span>
                <span class="js_close mobile-only">
                    <img src="img/cross.png" alt="fermer" />
                </span>
                <div class="frame js_frame content-wrapper">
                    <span class="js_close">
                        <img src="img/cross.png" alt="fermer" />
                    </span>
                    <ul class="slides js_slides">
                        <li class="js_slide" data-project="scandivintage">
                            <div class="projet-info">
                                <h3>Scandivintage <em>- 2015</em></h3>
                                <p class="technologies">Création du site - conseil</p>

                                <p class="description">Scandivintage est une société qui rénove et vend du mobilier moderniste et scandinave des années 50 à 70.</p>

                                <p class="description">J’ai accompagné son créateur dans la mise en place d'une boutique en ligne, à commencer par le choix de la solution <strong>Prestashop</strong>, sa mise en place et son adaptation.</p>

                                <a href="http://scandivintage.com" target="_blank" class="bt">Voir le projet</a>
                            </div>
                            <div class="projet-preview">
                                <img src="img/projets/scandivintage-380.jpg" alt="projet scandivintage" class="responsive"/>
                            </div>
                        </li>
                        <!-- <li class="js_slide" data-project="bnbiarritz">
                            <div class="projet-preview">
                                <img src="img/projets/bnbiarritz-498x717.jpg" />
                            </div>
                            <div class="projet-info">
                                <h3>BnBiarritz <em>- 2015</em></h3>
                                <p class="technologies">Création du site - hébergement</p>

                                <p class="description">BnBiarritz est une société basée à Biarritz</p>

                                <p class="description">Donec vehicula ipsum sit amet vehicula venenatis. Suspendisse semper quis purus eget feugiat. Maecenas tristique pulvinar ex, pellentesque dapibus sem volutpat vel. Pellentesque pharetra malesuada mi vitae condimentum. Aliquam vel interdum ipsum, in viverra leo. Duis vitae sem ac ante iaculis tempus at non augue. Sed tempor diam ac quam ornare rhoncus. Nulla iaculis aliquam bibendum.</p>

                                <a href="http://scandivintage.com" target="_blank" class="bt">Voir le projet</a>
                            </div>
                        </li> -->
                        <li class="js_slide" data-project="vinylzilla">
                            <div class="projet-info">
                                <h3>Vinylzilla <em>- 2014</em></h3>
                                <p class="technologies">Développement - hébergement</p>

                                <p class="description">Vinylzilla est un side-project créé avec <a href="http://enguerranweiss.fr/">Enguerran</a>. Cette application permet de créer une page publique listant l'ensemble des vinyls que vous possédez.</p>

                                <p class="description">Cette application a été développée <em>from scratch</em> à partir de la librairie <a href="http://slimframework.com/"><strong>Slim</strong></a>, d'une base <strong>mongodb</strong> et d'un index <strong>elasticsearch</strong>.</p>

                                <a href="http://vinylzilla.com" target="_blank" class="bt">Voir le projet</a>
                            </div>
                            <div class="projet-preview">
                                <img src="img/projets/projet-vnzl-380.jpg" class="responsive" alt="projet Vinylzilla"/>
                            </div>
                        </li>
                        <li class="js_slide defff" data-project="sanmarco">
                            <div class="projet-info">
                                <h3>San Marco <em>- 2015/2016</em></h3>
                                <p class="technologies">E-commerce - Newsletter</p>

                                <p class="description">Le site de San Marco a été refondu sur une base <strong>Wordpress</strong> en 2015. Ce nouveau site présente les cafés San Marco, les actualités de la marque et une section boutique sur laquelle on peut utiliser ses Points San Marco.</p>

                                <p class="description">Je suis intervenu pour ajouter la partie e-commerce via le plugin <strong>Woocommerce</strong>. Je m'occupe aussi de l'envoie des <strong>newsletters</strong>.</p>

                                <a href="http://sanmarco.fr" target="_blank" class="bt">Voir le projet</a>
                            </div>
                            <div class="projet-preview">
                                <img src="img/projets/sanmarco-380.jpg"  class="responsive" alt="projet San Marco"/>
                            </div>
                        </li>
                        <li class="js_slide defff" data-project="7decoeur">
                            <div class="projet-info">
                                <h3>Tournoi 7 de cœur <em>- 2015</em></h3>
                                <p class="technologies">Développement de plugin Wordpress</p>

                                <p class="description">Le Tournoi 7 de cœur est un tournoi de rugby et de dodgeball annuel dont les bénéfices sont reversés à des associations caritatives.</p>

                                <p class="description">Je suis intervenu sur la refonte du site en 2015. Parti d'un <strong>wordpress</strong> basique, j’ai créé un plugin afin d’ajouter des entités pour représenter les équipes, les dons et les tournois. J’ai intégré un moyen de paiement et un système de rotation pour gérer la cyclicité du tournoi.</p>

                                <a href="http://tournoi7decoeur.com/" target="_blank" class="bt">Voir le projet</a>
                            </div>
                            <div class="projet-preview">
                                <img src="img/projets/tournoi7decoeur-380.jpg"  class="responsive" alt="projet Tournoi 7 de coeur"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
       </div>

       <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71221858-2', 'auto');
          ga('send', 'pageview');

        </script>
  </body>
</html>
